// Variables
$base-font: 1em;

// style for the downloading button
.page {
  button:focus {
    outline: none;
  }  
  box-sizing: border-box;  
  p {margin: 0;}

  //页面cover
  .cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.3);
    // display: none;
  }

  // 下载表单
  form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-size: $base-font;
    min-width: 450px;

    //下载页标题
    .title {
      margin: 20px;
    }

    //输入框
    input {
      font-size: $base-font;
      padding: 10px;
      width: 100%;
      min-width: 200px;
      border: solid #ddd 1px;

      &:focus {
        outline: #317384 solid 1px;
      }
      &.inputWarn:focus {
        outline: red solid 1px;
      }
    }

    //输入框错误提示
    .inputErrorText {
      margin: 5px 0 0 0;
      color: red;
      font-size: .8em;
      opacity: 0;
      text-align: left;

      &.active {
        opacity: 1;
      }
    }

    //下载按钮
    button {
      margin: 15px auto;
      width: 60%;
      font-size: $base-font;
      border: 0;
      cursor: pointer;
      padding: 10px 50px;
      background: #317384;
      color: #fff;

      &:hover {
        background: #3e8a9e;
      }
    }
  }

  // 导航栏
  .nav {
    width: 100%;
    background: #4f4f4f;
    background: #317384;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0 0 0 10px;
      small {font-size: 0.6em; margin-left: 5px;}
    }
    .siteBar {
      display: flex;
      justify-content: center;
      p {
        padding: 20px 20px;
        color: #fff;
        margin: 0;
        min-width: 100px;
        text-align: center;
  
        &:hover {
          background: #3e8a9e;
          cursor: pointer;
        }
        &.active {
          background: #55B693;
        }

        img {
          vertical-align: middle;
          margin-right: 5px;
          height: 2em;
          width: auto;
        }
      }
    }
  };
  
  //正在下载管理
  .downloadingManage{
    // background: gray;
    width: 70%;
    max-width: 600px;
    margin: auto;

    .downloadingItem {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px;
      align-items: center;
      border-radius: 8px;
      background: rgba(48, 115, 132, .2);
      margin-top: 10px;
    }
    
    img {
      width: 100px;
      height: auto;
      margin-right: 10px;
    }

    .infoWrap {
      flex: auto;
      text-align: left;

      .title {
        margin: 0;
        font-size: 1.2em;
        margin-bottom: 6px;
      }
      .tag {
        font-size: 0.7em;
        display: inline-block;
        background: #55b692;
        padding: 2px 7px;
        border-radius: 4px;
        margin-bottom: 2px;
        color: #fff;
      }
      

      // 下载进度条
      .progress {
        width: 100%;
        height: 10px;
        border: 3px;
        background: #afafaf;
        border-radius: 4px;
        
        .progressInner {
          border-radius: inherit;
          height: 100%;
          background: #317384;
          transition: width .4s;
        }
      }
    }

    .buttonWrap {
      min-width: 100px;
    }
    .iconButton {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      display: inline-flex;
      background: #307384;
      cursor: pointer;
      img {width: 100%; height: auto;}
      &:hover {
        background: #1a6679;
      }
    }

  }

  //下载管理
  .downloadManage {
    aside {
      position: absolute;
      left: -100%;
      top: 0;
      height: 100vh;
      width: 400px;
      overflow-y: auto; 
      
      .header {
        position: relative;
        padding: 20px 0;
        border-bottom: solid 1px #1a6679;

        .title {
          margin: 0;
          color: #fff;
        }

        .deleteAllIcon {
          position: absolute;
          right:10px;
          top: 50%;
          transform: translateY(-50%);
          color: #fff;
          font-size: 0.8em;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      


      .downloadItemPlaceholder {
        padding: 30px 0;
        color: #aaa;
      }

      .downloadItem {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        text-align: left;
        &:hover {
          background: #4b8493;
        }
        .infoWrap {

          .title {
            font-size: 1.2em;
            border: none;
            padding-bottom: 0;
            color: #fff;
          }
          .tag {
            display: inline-block;
            font-size: .6em;
            padding: 2px 4px;
            background: #155261;
            border-radius: 3px;
            color: #bbd4cb;
          }
        }

        .buttonWrap {
          min-width: 60px;
          .iconButton {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            background: transparent;
            cursor: pointer;
            img {width: 100%; height: auto;}
            &:hover {
              background: #1a6679;
            }
          }
        }

      }
    }
    

    .aside {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 400px;
      background: #317384;
      box-shadow: 2px 0 5px 0 rgba(0,0,0,.4);
      transition: transform .3s ease-in-out;

      &.hide {
        transform: translateX(-100%);
      }
    }

    .downloadIcon {
      position: absolute;
      left: 20px;
      top: 100px;
      width: 40px;
      height: 40px;
      background: #317384;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {cursor: pointer;}
  
      img {
        width: 60%;
      }
    }
  }
  
};

